/* MAIN LOGO */

nav .brand-logo{
    font-size: 1rem;
    transition: .4s
}

/* FLASHED MESSAGES */
.flash-messages h4{
    font-size: 1.2rem;
}

/* NAVIGATION */
.sidenav-close{
    cursor: pointer;
}

.sidenav li:not(:first-child) i {
    margin:0;
}

/* MOVIES PAGE */
.movie-col{
    margin: 0 5px;
}
.movies-row{
    display: flex;
    flex-wrap: wrap;
}

.card .card-content{
    padding: 15px;
}

.card-content a{

    margin: 5px 0;
    padding: 0 10px;
}

.modal{
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.modal .modal-footer{
    text-align: center;
}

/* ADD MOVIE PAGE */

.hidden{
    display: none;
}

/* FOOTER */


/* REGISTER PAGE */
.card-panel{
    border-radius: 10px;
}

/* ADD MOVIE PAGE */

.movie-cover-container img {
    width: 70%;
    border-radius: 10px;
}


/* MEDIA QUERIES */

@media (min-width: 446px){
    /* Chnages take place at this stage */
    nav .brand-logo{
        font-size: 2rem;
        transition: .4s
    }
}

/* Mobile */
@media (min-width: 320px){
    .movie-col{
        width:100%;
     }
     .movie-title{
        font-size: 1.5rem;
    }
}

/* Tablet */
@media (min-width: 768px){
    .movie-col{
        width:23%;
     }
     .movie-title{
        font-size: 1rem;
    }
}

/* Desktop */
@media (min-width: 1024px){
    .movie-col{
        width: 31%;
     }
     .movie-title{
        font-size: 1.5rem;
    }
}