/* MAIN LOGO */

nav .brand-logo{
    font-size: 1rem;
    transition: .4s
}

/* FLASHED MESSAGES */
.flash-messages h4{
    font-size: 1rem;
}

/* NAVIGATION */
.sidenav-close{
    cursor: pointer;
}

.sidenav li:not(:first-child) i {
    margin:0;
}



/* FOOTER */


/* REGISTER PAGE */
.card-panel{
    border-radius: 10px;
}


/* MEDIA QUERIES */

@media (min-width: 446px){
    /* Chnages take place at this stage */
    nav .brand-logo{
        font-size: 2rem;
        transition: .4s
    }
}
