{% extends "base.html" %}

{% block title %}
    Add Review
{% endblock %}

{% block content %}
    <h4 class="center white-text">Add review for {{ movie.title }}</h4>
    <div class="row">
        <form class="col s12 white" method="POST" action="{{ url_for('add_review', movie_id=movie._id) }}">
            <div class="row">
                <div class="col s12 m6 l6">
                    <img class="review__image" src="{{ movie.poster }}" alt="{{ movie.poster }} image" >
                </div>
                <div class="input-field col s12 m6 l6">
                    <textarea id="review" name="review" class="materialize-textarea validate" maxlength="255" required></textarea>
                    <label for="review">Review</label>
                    <span class="text-usage">0</span><span>/</span><span class="text-total">0</span>
                </div>
            </div>
            <div class="row center">
                <a href="{{ url_for('show_reviews', movie_id=movie._id) }}" class="cancel-btn btn-large red darken-4" aria-label="Cancel"> 
                    <i class="fa-solid fa-xmark right"></i>
                    Cancel
                </a>
                <button class="btn-large green darken-3" type="submit" aria-label="Add review">
                    <i class="fa-solid fa-plus right"></i>
                    Add Review
                </button>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/character_count.js') }}"></script>
{% endblock %}