<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Materialize Styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <!-- Custom Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <!-- Added for custom styles on each page -->
    {% block styles %}
    {% endblock %}
    <title>Movie Crazy Club</title>
</head>
<body>
    <header>
        <!-- main navbar -->
        <nav class="nav-extended text-shadow black">
            <div class="nav-wrapper">
                <a href="{{ url_for('show_movies') }}" class="brand-logo">Movie Crazy Club</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('show_movies') }}">Home</a></li>
                    <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                    <li><a href="#">Add Movie</a></li>
                    <li><a href="#">Manage Genres</a></li>
                    <li><a href="#">Sign Out</a></li>
                    <li><a href="{{ url_for('sign_in') }}">Sign In</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                </ul>
            </div>
        </nav>

        <!-- mobile navbar -->
        <ul class="sidenav" id="mobile-demo">
            <li>
                <h4 class="center-align black-text mobile-nav-logo">
                    <i class="fa-solid fa-xmark fa-sm sidenav-close"></i>
                    Movie Crazy Club
                </h4>
            </li>
            <li>
                <a href="{{ url_for('show_movies') }}">
                    <i class="fa-solid fa-house"></i>
                    Home
                </a>
            </li>
            <li>
                <a href="{{ url_for('profile', username=session['user']) }}">
                    <i class="fa-solid fa-user"></i>
                    Profile
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-film"></i>
                    Add Movie
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-filter"></i>
                    Manage Genres
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    Sign Out
                </a>
            </li>
            <li>
                <a href="{{ url_for('sign_in') }}">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    Sign In
                </a>
            </li>
            <li>
                <a href="{{ url_for('register') }}">
                    <i class="fa-solid fa-user-pen"></i>
                    Register
                </a>
            </li>
        </ul>
    </header>

    <!-- flash messages -->
    <section>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flash-messages">
                        <h4 class="center-align">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    <main class="container">
        {% block content %}
        <!-- This is where the main content appears -->
        {% endblock %}
    </main>

    <footer class="page-footer black">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="white-text">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="">Links</h5>
                    <ul>
                        <li><a class="" href="#!">Link 1</a></li>
                        <li><a class="" href="#!">Link 2</a></li>
                        <li><a class="" href="#!">Link 3</a></li>
                        <li><a class="" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <span>© 2014 Copyright Text</span>
                <a class="right" href="#!">More Links</a>
            </div>
        </div>
    </footer>
    <!-- Materialize JS Script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Font Awesome JS Script -->
    <script src="https://kit.fontawesome.com/27cb7f1fb6.js" crossorigin="anonymous"></script>
    <!-- Custom JS Script -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <!-- Added for custom js on each page -->
    {% block scripts %}
    {% endblock %}
</body>
</html>
