{% extends "base.html" %}

{% block title %}
    Edit Review
{% endblock %}

{% block content %}
    <h4 class="center white-text">Edit review for {{ movie.title }}</h4>
    <div class="row">
        <form class="col s12 white" method="POST" action="{{ url_for('edit_review', review_id=review._id) }}">
            <div class="row">
                <div class="col s12 m6 l6">
                    <img class="review__image" src="{{ movie.poster }}" alt="{{ movie.poster }} image" >
                </div>
                <div class="input-field col s12 m6 l6">
                    <textarea id="review" name="review" class="materialize-textarea validate" required>
                        {{- review.review -}}
                    </textarea>
                    <label for="review">Review</label>
                </div>
            </div>
            <div class="row center">
                <a href="{{ url_for('show_reviews', movie_id=movie._id) }}" class="cancel-btn btn-large red darken-4" aria-label="Cancel"> 
                    <i class="fa-solid fa-xmark right"></i>
                    Cancel
                </a>
                <!-- Modal Trigger -->
                <a href="#modal-update-{{ review._id }}" 
                class="btn-large green darken-3 modal-trigger"
                data-position="top" data-tooltip="Update Genre"
                aria-label="Update Review">
                    <i class="fa-solid fa-pen-to-square right"></i>
                    Update Review
                </a>
            </div>
            <!-- Modal Structure -->
            <div id="modal-update-{{ review._id }}" class="modal">
                <div class="modal-content">
                    <h5>Are you sure you want to update this review?</h5>
                    <span class="red-text darken-4">Warning! Updating this review will change your current one.</span>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close btn red darken-4" aria-label="No">No</a>
                    <button class="modal-clos btn green darken-3" aria-label="Yes" type="submit">
                        Yes
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}