{% extends "base.html" %}
{% block title %}
    Genres
{% endblock %}

{% block content %}
    <h4 class="center">Manage Genres</h4>
    <div class="row">
        {% for genre in genres %}
            <div class="col l4 s12 m6">
                <div class="card genre-card">
                    <div class="card-content black-text">
                        <span class="card-title center">{{ genre.genre_name }}</span>
                    </div>
                    <div class="card-action center">
                        <a class="btn-small green darken-3 tooltipped" 
                        href="{{ url_for('edit_genre', genre_id=genre._id )}}"
                        data-position="top" data-tooltip="Edit Genre"
                        aria-label="Edit Genre">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>    
                        <!-- Modal Trigger -->
                        <a href="#modal-delete-{{ genre._id }}" 
                        class="btn-small red darken-4 modal-trigger tooltipped"
                        data-position="top" data-tooltip="Delete Genre"
                        aria-label="Delete Genre">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Modal Structure -->
            <div id="modal-delete-{{ genre._id }}" class="modal">
                <div class="modal-content">
                    <h5>Are you sure you want to delete {{ genre.genre_name }}</h5>
                    <span>Warning! Deleting this genre will delete all associated movies.</span>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close btn red darken-4">No</a>
                    <a href="#!" class="modal-close btn green darken-3">Yes</a>
                </div>
            </div>  
        {% endfor %}
    </div>
    <div class="row center">
        <a class="btn-large green darken-3" href="{{ url_for('add_genre')}}" aria-label="Add genre page">
            <i class="fa-solid fa-plus right"></i>
            Add genre
        </a>
    </div>
{% endblock %}