{% extends "base.html" %}

{% block content%}
    <div class="movies-row">
        {% for movie in movies %}
            <div class="movie-col">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{{ movie.poster }}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator tooltipped"  data-position="top" data-tooltip="More info">
                            <span class="movie-title">{{ movie.title }}</span>
                        </span>

                        <p>{{movie.director}} | {{ movie.year }}</p>
                        <p>{{ movie.genre_name }}</p>
                        <a class="btn-small black">Reviews</a>
                        <a class="btn-small green darken-3" href="{{ url_for('edit_movie', movie_id=movie._id) }}">
                            Edit
                        </a>
                        <a class="btn-small red darken-4">Delete</a>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Plot<i class="fa-solid fa-xmark right"></i></span>
                        <p>{{ movie.plot }}</p>
                        {% if movie.created_by %}
                            <span class="card-title grey-text text-darken-4">Added by:</span>
                            <p>{{ movie.created_by }}</p>
                        {% else %}

                        {% endif %}
                    </div>
                </div>
            </div>        
        {% endfor %}
    </div>
{% endblock %}

