{% extends "base.html" %}

{% block title %}
    User Profile
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h3 class="center-align light-blue-text text-darken-4">
                    {{ username }}'s account
                </h3>

                <h5 class="center">My movies</h5>
                <ul class="collapsible">
                    {% for movie in users_movies %}
                        <li>
                            <div class="collapsible-header">
                                <i class="fa-solid fa-caret-down"></i> <span>{{ movie.title }}</span>
                            </div>
                            <div class="collapsible-body">
                                <a class="btn-small green darken-3 tooltipped" 
                                    aria-label="Edit Movie" href="{{ url_for('edit_movie', movie_id=movie._id) }}"
                                    data-position="top" data-tooltip="Edit Movie">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <!-- Modal Trigger -->
                                <a href="#modal-delete-{{ movie._id }}" 
                                    aria-label="Delete Movie" 
                                    class="btn-small red darken-4 modal-trigger tooltipped"
                                    data-position="top" data-tooltip="Delete Movie">
                                        <i class="fa-solid fa-trash"></i>
                                </a>
                                {% for review in reviews %}
                                    {% if movie.title|lower == review.title|lower  %}
                                        <p class="flow-text">{{ review.review }}</p>
                                        <em class="grey-text text-darken-1">{{ review.created_by}}</em>                 
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </li>
                        <!-- Modal Structure -->
                        <div id="modal-delete-{{ movie._id }}" class="modal">
                            <div class="modal-content">
                                <h5>Are you sure you want to delete {{ movie.title }}</h5>
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-close btn red darken-4" aria-label="No">No</a>
                                <a href="{{ url_for('delete_movie', movie_id=movie._id) }}" aria-label="Yes" class="modal-close btn green darken-3">Yes</a>
                            </div>
                        </div>    
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>


{% endblock %}