{% extends "base.html" %}
{% block title %}
    Reviews
{% endblock %}

{% block content %}
    <h4 class="center white-text">{{ movie.title }}</h4>
    <p class="center white-text">{{ movie.director }} | {{ movie.year }}</p>
    <div class="row">
        <div class="col s12 l6 m6">
            <div class="movie-cover-container col s12 center">
                <img id="movie-img" src="{{ movie.poster }}" alt="{{ movie.poster }} image">
            </div>
        </div>
        <div class="col s12 l6 m6">
            <div class="row">
                <div class="col s12">
                    <p class="review_plot white-text">{{ movie.plot }}</p>
                    {% if session.user %}  
                        <a class="btn-large green darken-3 tooltipped" data-position="top" data-tooltip="Leave review"
                            aria-label="Leave Review" href="{{ url_for('add_review', movie_id=movie._id) }}" type="submit">
                            <i class="fa-solid fa-comment right"></i>
                            Leave Review
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if reviews %}
        <h4 class="center white-text">Reviews</h4>
        <div class="row">
            {% for review in reviews %}
                <div class="col s12">
                    <blockquote class="flow-text white-text">{{ review.review }}</blockquote>
                    <em class="right white pad-small-text">
                        written by {{ review.created_by }}
                        {% if session.user|lower == review.created_by|lower %}
                            -
                            <a href="" class="tooltipped" aria-label="Delete Your Review" data-position="top" data-tooltip="Delete Your Review">
                                <i class="fa-solid fa-trash black-text"></i>
                            </a>
                        {% endif %}
                    </em>
                </div>
                <div class="col s12">
                    <hr class="review-divider">
                </div>  
            {% endfor %}
        </div>
    {% else %}
        <h4 class="center white-text">No Reviews</h4>
    {% endif %}
{% endblock %}